/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* products */

body{
    font-family: 'Poppins', sans-serif;
}
h3{ 
    font-size: 24px;
    color:#3A3A3A;
    ;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
   
}
.product-detail{
    color: #3A3A3A;

}
h1{
    font-size: 45px;
}
.product-image{
    width: 413px;
}
a{  color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    margin-left: 40px;
}
/* logos */
.logos img{
    width: 55.05px;
    height: 31.06px;
}
.logos{
    margin:100px 80px;
    display: flex;
    justify-content: space-between;
    border:1px solid gray;
    padding: 30px 60px;
}
/* popular-collection */
.popular-collection{

}