/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* products */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h3{ 
    font-size: 24px;
    color:#3A3A3A;
    ;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
   
}
.product-detail{
    color: #3A3A3A;

}
h1{
    font-size: 45px;
}
.product-image{
    width: 413px;
}
a{  color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    margin-left: 40px;
}
/* logos */
.logos img{
    width: 55.05px;
    height: 31.06px;
}
.logos{
    margin:100px 80px;
    display: flex;
    justify-content: space-between;
    border:1px solid gray;
    padding: 30px 60px;
    margin-bottom: 30px;
}
/* popular-collection */
.collection{
    padding:30px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
h2{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}
.articles{
    width: 329px;
    height: 520px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.article{
    padding:15px;
}
.article-image{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
/* feature */
.feature-info{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-bottom: 80px;
}
.feature-data>h2{
    text-align: left;
}
#feature-button{
    text-decoration: none;

}
.feature-data{
    width:50%;
    text-align:left;
}
.feature-image img{
    width:400px;
    height: 400px;
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 
}







/* footer */
footer{
    background:#0A0826;
    padding: 10px;

}
footer>h2{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;

}
small{
    font-size:14px ;
}
.social-logos{
    color: white;
    text-align: center;
}